<!DOCTYPE html>
<html lang="KOR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <title>중고마켓</title>
  </head>
  <body>
    <%- include('userNav.html')%>

    <div class="chatColor">
      <h2 class="chatHead">따듯한 인삿말로 시작해 볼까요.</h2>
      <div class="chatContainer">
        <ul class="list-group chat-list">
          <% for (var i=0; i < data.length ; i++){ %>
          <li class="list-group-item" data-id="<%= data[i]._id %>">
            <% if(user.nickname == data[i].member[0] ){ %>
            <h7 class="text-small">구매희망자: <%= data[i].member[1] %></h7>
            <% } if(user.nickname == data[i].member[1] ){ %>
            <h7 class="text-small">판매자: <%= data[i].member[0] %></h7>
            <% } %>
            <p>개설일: <%= data[i].date %></p>
          </li>
          <% } %>
        </ul>
        <aside>
          <!-- 실시간 메세지 생성이 되는 곳-->
          <ul class="message-content">
            <li>왼쪽 대화 상대를 선택해 주세요.</li>
          </ul>
        </aside>
      </div>
      <div class="sendContainer">
        <input type="text" id="send-input" />
        <button id="send">전송</button>
      </div>
    </div>

    <script>
      let chatId;
      let eventSource;
      $(".list-group-item").click((e) => {
        chatId = e.currentTarget.dataset.id;

        //누군가와의 채팅을 하기 위해 채팅방을 누르는 순간 초기화. (이전데이터값과 이번에 가져온 데이터값이 다 누적되는 걸 방지하기 위해서.)
        $(".message-content").html("");
        //누를 때마다 계속 소통채널을 입장하니, 쓸데없이 발생하는 소통채널 나가기.
        if (eventSource != undefined) {
          eventSource.close();
        }

        //서버로부터 데이터 수신
        eventSource = new EventSource("/message/" + chatId); //get 요청과 똑같음, 해당하는 채팅방의 고유id한테만 가져오기
        eventSource.addEventListener("fromserver", (e) => {
          console.log(JSON.parse(e.data));

          let temp = JSON.parse(e.data);
          temp.forEach((i) => {
            $(".message-content").append(
              `<li><em>${i.userId}</em> : ${i.content}</li>`
            );
          });
        });
      });

      //입력값 보내기
      $("#send").click(() => {
        let sendInputValue = $("#send-input").val();

        let sendInfo = {
          parent: chatId,
          content: sendInputValue,
        };
        $.post("/message", sendInfo);

        $("#send-input").val("");
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
