<!DOCTYPE html>
<html lang="KOR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <title>실험작</title>
</head>
<body>
  
  <%- include('nav.html')%>

  <h4 class="m1-2 my-3 text-center">할일 리스트</h4>
  <div class="container input-group mb-2">
    <input type="text" class="form-control" id="search-input">
    <button id="search" class="input-group-append btn btn-danger">검색</button>
  </div>

  <div class="list">
    <ul class="list-group">
      <% for(let i = 0; i < posts.length; i ++ ){ %>
        <li classㅅ="list-group-item"  >
          <p style="display: none">글번호: <%= posts[i]._id %></p>
          <h5>제목: <%= posts[i].제목 %></h5>
          <p>마감날짜: <%= posts[i].날짜 %></p>
          <button class="deleteBtn" data-id="<%= posts[i]._id %>"  method="DELETE">완료</button>
          <button class="changeBtn"><a href="/edit/<%= posts[i]._id %>">변경하기</a></button>
        </li>
      <% } %>
    </ul>
  </div>
  <script>
    $(`.deleteBtn`).click((e)=>{
      let deleteBtnDataId = e.target.dataset.id;
      $.ajax({
        method: `DELETE`, //삭제요청
        url: `/delete`, //요청할 경로. 나는 "/delte" 경로라고 적어봤다.
        data: { _id:  deleteBtnDataId } //요청보낼 때 삭제할 데이터
      })
      .done(()=>{
        location.reload();
      })
      .fail((err)=>{
        console.log(err);
      })
    })


    $('#search').click(()=>{
      let inputValue = $('#search-input').val()
      window.location.replace('/search?value=' + inputValue);
    })

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>